---
import type { ProductOption, ProductVariant } from "../../lib/wix/types";
import WixStoresOption from "../wix/wix-stores-option.astro";
import clsx from "clsx";

type Props = {
  options: ProductOption[];
  variants: ProductVariant[];
};

const hasNoOptionsOrJustOneOption =
  !Astro.props.options.length ||
  (Astro.props.options.length === 1 &&
    Astro.props.options[0]?.values.length === 1);

if (hasNoOptionsOrJustOneOption) {
  return null;
}
---

{
  Astro.props.options.map((option) => (
    <dl class="mb-8">
      <dt class="mb-4 text-sm uppercase tracking-wide">{option.name}</dt>
      <dd class="flex flex-wrap gap-3">
        <WixStoresOption variants={Astro.props.variants} option={option}>
          {({ id, value, isActive, isAvailableForSale }) => (
            <label
              for={id}
              title={`${option.name} ${value}${!isAvailableForSale ? " (Out of Stock)" : ""}`}
              class={clsx(
                "flex min-w-[48px] items-center justify-center rounded-full border bg-neutral-100 px-2 py-1 text-sm dark:border-neutral-800 dark:bg-neutral-900",
                {
                  "cursor-default ring-2 ring-blue-600": isActive,
                  "ring-1 ring-transparent transition duration-300 ease-in-out hover:ring-blue-600":
                    !isActive && isAvailableForSale,
                  "relative z-10 cursor-not-allowed overflow-hidden bg-neutral-100 text-neutral-500 ring-1 ring-neutral-300 before:absolute before:inset-x-0 before:-z-10 before:h-px before:-rotate-45 before:bg-neutral-300 before:transition-transform dark:bg-neutral-900 dark:text-neutral-400 dark:ring-neutral-700 before:dark:bg-neutral-700":
                    !isAvailableForSale,
                }
              )}
            >
              {value}
            </label>
          )}
        </WixStoresOption>
      </dd>
    </dl>
  ))
}
